<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>页面B</title>
    <script src="<%= VUE_APP_CDN_HOST %>/cdn/utils/importAll.js" type="text/javascript"></script>
    <script>
      var _resources = [
        { async: true, path: 'cdn/css/normalize.css' },
        { async: true, path: 'cdn/js/th-vue-component/2.0.24/th-vue-component.css' },
        { async: true, path: 'cdn/js/th-vue-component/2.0.24/theme/index.css' },

        { path: 'cdn/js/polyfill/6.26.0/polyfill.min.js' },
        { path: 'cdn/js/classlist-polyfill/1.2.0/index.js' },
        { path: 'cdn/js/vue/2.6.11/vue.min.js' },
        { path: 'cdn/js/axios/0.21.1/axios.min.js' },
        { path: 'cdn/js/element-ui/2.13.2/lib/index.js' },
        { path: 'cdn/js/th-vue-component/2.0.24/th-vue-component.umd.js' },

        { async: true, path: 'cdn/js/xlsx/0.15.6/xlsx.full.min.js' },
        { async: true, path: 'cdn/js/xlsx-style/0.8.13/xlsx.full.min.js' },
      ]

      if (window._loadCdnResources) {
        window._loadCdnResources(null, _resources)
      }
    </script>
  </head>
  <body>
    <noscript>
      <strong>很抱歉，如果没有 JavaScript 支持，网站将不能正常工作。请启用浏览器的 JavaScript 然后继续。</strong>
    </noscript>
    <div id="app"></div>
    <script>
      // 浏览器存储前缀，按项目进行修改
      window.localStoragePrefix = 'th-template-pageb';

      // 用户ID
      var lt = parent.ISC_USER_ID !== undefined ? parent.ISC_USER_ID : 'ff8080816ea55ce5016eafc634980009';

      // 是否使用原系统接口： true:原系统；false:微服务
      var GLOBAL_IS_ORIGIN = parent.GLOBAL_IS_ORIGIN !== undefined ? parent.GLOBAL_IS_ORIGIN : true;

      // 接口地址：用于生产环境部署时修改
      var VUE_APP_API_PREFIX = parent.VUE_APP_API_PREFIX !== undefined ? parent.VUE_APP_API_PREFIX : '';

    </script>
  </body>
</html>
